@import '../Prefix.scss';

.#{$prefix}EventGraph-container {
    flex: 1;
    display: flex;
    position: fixed;
    top: 0;
    left: 55px;
    right: 0;
    bottom: 0;
}

@import '../Reading.scss';
