node_modules
lib/
packages/redux-connected-server/data
.DS_Store
packages/redux-connected-extension
packages/redux-connected-devtools-ui/extension/static
.vscode
.firebase
esm/
adapter-base/rc-adapter-seeder-server/_playground/1.index
adapters/rc-adapter-json-server/db.json
adapters/rc-adapter-atlas/.env
packages/redux-connected-server/sockets/example
packages/redux-connected-example/.env
packages/redux-connected-core/src/__fixtures__/fs
DEPCHECK.md
adapters-vendors/rc-adapter-json-server/db.json
yarn-error.log
adapters-vendors/rc-adapter-realtime-database/credentials.ts
adapters-vendors/_temp
adapters-vendors/_playground
