.Log-container {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex: 1;
    margin: 20px;

    .inner {
        flex: 1;
        font-family: monospace;
        font-size: 16px;
        padding: 25px;

        .line {
            display: inline;
            line-height: 22px;
        }
    }
}
