@import '../Prefix.scss';

.#{$prefix}Modal-container {
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 99;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .modal {
        background-color: #334;
        min-width: 350px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
        color: #ccc;
        border-radius: 3px;
        overflow: hidden;

        .header {
            background-color: rgba(0, 0, 0, 0.2);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 2px 10px 2px 15px;

            .title {
                font-weight: 500;
            }

            .close {
                .icon {
                    font-size: 18px;
                    cursor: pointer;
                    line-height: 30px;

                    &:hover {
                        color: palevioletred;
                    }
                }
            }
        }

        .content {
            padding: 20px;
        }

        .actions {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            padding: 5px 15px 15px;
        }
    }
}
