.SoundBoard-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 100px;
}

.Strip-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    width: 40px;
    border-left: 1px solid #444;

    &:last-child {
        border-right: 1px solid #444;
    }
}

.StripFirstColumn-container {
    width: 180px;

    .title {
        height: 30px;
        line-height: 30px;

        &:nth-child(2n-1) {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}

.StripHeader-container {
    color: #fff;
    font-size: 15px;
    width: 120px;
    text-align: center;
    font-weight: bold;
    height: 30px;
    padding: 4px;
    transform: rotate(90deg) translateX(-50px) translateY(40px);

    &.header-empty {
        transform: none;
    }

    &.ADAPTER-CLIENT-NETWORK {
        background-color: darken(goldenrod, 10%);
    }

    &.ADAPTER-SERVER-DB {
        background-color: palevioletred;
    }

    &.ADAPTER-ISO-SAAS {
        background-color: dodgerblue;
    }

    &.CONNECTOR-ISO-SAAS {
        background-color: rgb(97, 197, 255);
    }

    &.CONNECTOR-SERVER-LSAAS {
        background-color: rgb(108, 189, 108);
    }
}

.StripSlider-container {
    border: none;
}
