@import '../Prefix.scss';

.#{$prefix}ReduxSettings-container {
    .row {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-right: 50px;
    }
}
