$red: #e88287;
$green: #a8cc8c;
$yellow: #dbab79;
$blue: #71bef2;
$magenta: #d290e4;
$cyan: #66c2cd;
$gray: #707783;
$white: #b9bfca;
$black: #000000;

.Chalk-container {
    display: inline;

    .part {
        color: white;

        &.light {
            opacity: 0.8;
        }

        &.red {
            color: $red;
        }

        &.green {
            color: $green;
        }

        &.yellow {
            color: $yellow;
        }

        &.blue {
            color: $blue;
        }

        &.magenta {
            color: $magenta;
        }

        &.cyan {
            color: $cyan;
        }

        &.gray {
            color: $gray;
        }

        &.white {
            color: $white;
        }

        &.bg {
            &.red {
                background-color: $red;
                color: $black;
            }

            &.green {
                background-color: $green;
                color: $black;
            }

            &.yellow {
                background-color: $yellow;
                color: $black;
            }

            &.blue {
                background-color: $blue;
                color: $black;
            }

            &.magenta {
                background-color: $magenta;
                color: $black;
            }

            &.cyan {
                background-color: $cyan;
                color: $black;
            }

            &.gray {
                background-color: $gray;
                color: $black;
            }

            &.white {
                background-color: $white;
                color: $black;
            }
        }
    }
}
