.Sidebar-container {
    position: fixed;
    left: 0;
    width: 220px;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    padding-top: 50px;

    a {
        display: block;
        padding: 4px;
        text-decoration: none;
        color: #333;
        border-bottom: 1px solid #aaa;

        &:hover {
            background-color: rgba(0, 0, 0, 0.03);
        }

        &:last-child {
            border-bottom: none;
        }
    }
}
