.Timeline-container {
    position: fixed;
    bottom: 12px;
    left: 55px;
    right: 0px;
    max-height: calc(100vh - 680px);
    height: 500px;
    background-color: darken(#232332, 10%);
    overflow: auto;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.23);
}
