.TimelineRowHeader-container {
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #232332;
    font-size: 18px;

    .name {
        flex: 1;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
        padding-left: 10px;

        .icon {
            cursor: help;
        }
    }

    .icons {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .icon {
        font-size: 18px;

        &.spin {
            animation-name: spin;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
