@import '../Prefix.scss';

.#{$prefix}Button-container {
    background-color: #eee;
    border: none;
    font-size: 15px;
    padding: 8px 20px;
    outline: none;
    cursor: pointer;
    color: #333;
    margin-left: 7px;
    position: relative;

    &:hover {
        background-color: #ddd;
    }

    &:active {
        bottom: 1px;
        right: 1px;
        position: relative;
    }

    &.primary {
        background-color: #ccc;

        &:hover {
            background-color: #bbb;
        }
    }

    &.loading {
        color: transparent;
    }

    &:disabled {
        pointer-events: none;
    }

    .loader {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 20px;
        height: 20px;
        transform: translate(-50%, -50%);
    }
}
