.App-container {
    --theme-color-bg: #131720;
    --theme-color-bg-hover: #2b2e36;
    --theme-color-bg-active: #42454c;
    --theme-color-bg-counter: #42454c;
    --theme-color-bg-divider: #42454c;
    --theme-color-bg-setup: #5a5d63;
    --theme-color-bg-scrollbar-idle: #717379;
    --theme-color-bg-scrollbar-active: #898b8f;
    --theme-color-fg-text-disabled: #898b8f;
    --theme-color-fg-icon-disabled: #898b8f;
    --theme-color-fg-setup: #58c89f;
    --theme-color-fg-title: #7a92a5;
    --theme-color-fg-chevron-idle: #b8b9bc;
    --theme-color-fg-chevron-active: #ffffff;
    --theme-color-fg-text: #ffffff;
    --theme-color-fg-icon: #ffffff;
}
