@import '../Prefix.scss';

.#{$prefix}Config-container {
    max-height: 380px;
    overflow: auto;
    padding: 10px;

    pre {
        padding: 5px 20px;
        margin: 0;
        color: #333;
    }

    &.wide {
        max-height: 710px;
    }
}
