@import '../Prefix.scss';

.#{$prefix}Panel-container {
    position: fixed;
    bottom: 20px;
    right: 100px;
    width: 350px;
    height: 390px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.1);
    border: 1px solid #666;

    // &.wide {
    //     width: 750px;
    //     height: 800px;
    // }

    .handler {
        background-color: rgb(0, 120, 212);
        height: 22px;
        padding: 0 3px;
        cursor: move;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        color: white;

        .icon {
            margin: 3px;
            font-size: 15px;
            cursor: pointer;

            &:hover {
                color: gold;
            }
        }
    }
}
