@import '../Prefix.scss';

$grid: rgba(255, 255, 255, 0.01);

.#{$prefix}OverlayManager-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    animation-name: bk;
    animation-duration: 50ms;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 99999;
    color: #eee;

    > .content {
        margin: auto;
        width: calc(350px + 750px + 350px + 5px * 4 + 2px);
        height: calc(800px + 18px);
        display: grid;
        grid-template-columns: 350px 750px 350px;
        grid-template-rows: 400px 400px;
        border-radius: 3px;
        overflow: hidden;
        gap: 5px;
        padding: 5px;
        animation-name: reveal;
        animation-duration: 50ms;
        animation-fill-mode: forwards;
        background-color: rgb(39, 40, 34);
        background-image: linear-gradient($grid 0.1em, transparent 0.1em),
            linear-gradient(90deg, $grid 0.1em, transparent 0.1em);
        background-size: 25px 25px;

        .area {
            &.area-1 {
                grid-area: 1/1/2/2;
            }

            &.area-center {
                grid-area: 1/2/3/3;
            }

            &.area-2 {
                grid-area: 1/3/2/4;
            }

            &.area-3 {
                grid-area: 2/1/3/2;
            }

            &.area-4 {
                grid-area: 2/3/3/4;
            }
        }
    }
}

@keyframes bk {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        position: relative;
        top: 20px;
    }
    100% {
        opacity: 1;
        position: relative;
        top: 0;
    }
}
