@import '../Prefix.scss';

.#{$prefix}Requests-container {
    flex: 1;
    display: flex;

    .#{$prefix}Reading-container {
        .status {
            padding-right: 5px;

            &.error {
                color: red;
            }
        }
    }
}
