.WidgetRow-container {
    color: #eee;
    padding: 5px 10px;

    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &:nth-child(2n-1) {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .title {
        font-size: 14px;
        text-transform: uppercase;
    }

    .description {
        color: rgba(255, 255, 255, 0.35);
        font-size: 12px;
    }

    .dimensions {
        color: gold;
        font-size: 11px;
    }

    .tags {
    }
}
