@import './Prefix.scss';

.#{$prefix}Rows-container {
    .#{$prefix}Reading-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        .col {
            &:first-child {
                flex: 1;
            }

            .row {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }

        .path {
            font-size: 17px;
            color: #eee;
            max-width: 180px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .sequence {
            border: 1px solid #666;
            color: #eee;
            border-radius: 4px;
            width: 20px;
            text-align: center;
            font-size: 11px;
            margin-right: 5px;
        }

        .badge {
            padding: 0 3px;
            background-color: #445;
            border-radius: 4px;
            text-align: center;
            font-size: 11px;
            margin-right: 5px;
        }

        .message {
            color: #777;
            border-radius: 4px;
            text-align: left;
            font-size: 14px;
            margin-right: 5px;
        }

        .description {
            font-size: 12px;
            color: rgba(255, 255, 255, 0.6);
            max-width: 260px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            &.short {
                font-size: 11px;
                max-width: 190px;
            }
        }

        .type {
            font-size: 13px;
        }

        .path {
            color: #eee;
        }

        .timeAgo {
            font-size: 12px;
            color: rgba(255, 255, 255, 0.8);
            color: gold;
        }

        .timestamp {
            font-size: 13px;
            color: #eee;
            font-weight: 500;
            font-family: monospace;
            text-align: right;
        }

        .id {
            font-size: 13px;
            color: #eee;
            font-family: monospace;
            text-align: right;
        }

        &.disabled {
            .title {
                color: rgba(255, 255, 255, 0.5);
            }

            .timestamp {
                color: rgba(255, 255, 255, 0.3);
            }

            .description {
                color: rgba(255, 255, 255, 0.3);
            }
        }
    }

    // &.wide {
    //     .#{$prefix}Reading-container {
    //         .description {
    //             max-width: 660px;

    //             &.short {
    //                 font-size: 11px;
    //                 max-width: 190px;
    //             }
    //         }
    //     }
    // }

    &.selectable {
        .#{$prefix}Reading-container {
            cursor: pointer;

            &:hover {
                background-color: rgba(255, 255, 255, 0.05);
            }
        }
    }
}
