@import '../Prefix.scss';

.#{$prefix}ChatWindow-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: #ccc;

    .header {
        background-color: rgba(235, 235, 255, 0.05);
        border-bottom: 1px solid #223;
        padding: 3px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .title {
            flex: 1;
            font-size: 14px;
            text-indent: 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .x {
            width: 24px;
            height: 26px;
            font-size: 13px;
            cursor: pointer;
            margin-left: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            span {
                font-size: 16px;
                color: #888;

                &:hover {
                    color: palevioletred;
                }
            }
        }
    }

    .ChatContent-container {
        flex: 1;
        overflow: auto;
        padding: 8px 14px;
    }

    .ChatMessage-container {
        padding: 5px 8px;
        margin: 5px 5px 12px;
        font-size: 15px;
        border-radius: 6px;

        &.left {
            background-color: rgba(215, 215, 255, 0.2);
            float: left;
            clear: both;
        }

        &.right {
            background-color: rgba(235, 235, 255, 0.1);
            align-self: flex-end;
            float: right;
            clear: both;
        }
    }

    .ChatInput-container {
        border-top: 1px solid #223;
        display: flex;
        flex-direction: row;
        align-items: center;

        input {
            background-color: none;
            border: none;
            width: 100%;
            font-size: 15px;
            padding: 10px 10px;
            outline: none;
            color: #ccc;
            background-color: transparent;
        }

        .send {
            width: 40px;
            height: 35px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: rgba(255, 255, 255, 0.05);
            cursor: pointer;

            span {
                font-size: 16px;
                color: #ccc;
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.02);

                span {
                    color: palevioletred;
                }
            }

            &:active {
                position: relative;
                bottom: 1px;
                left: 1px;
            }
        }
    }
}
