@import '../Prefix.scss';

.#{$prefix}TableBar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.06);
    padding: 15px 20px;
    margin-bottom: 15px;

    .search {
        border-bottom: 1px solid gray;
        position: relative;

        span {
            position: absolute;
            font-size: 20px;
            top: 3px;
        }

        input {
            background-color: transparent;
            border: none;
            font-size: 16px;
            padding-left: 23px;
            outline: none;
            height: 25px;
            line-height: 25px;
        }
    }

    button {
        margin-left: 8px;
        background-color: rgba(255, 255, 255, 0.4);
        border: none;
        cursor: pointer;
        position: relative;
        outline: none;

        span {
            font-size: 15px;
            line-height: 20px;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.7);
        }

        &:active {
            bottom: 1px;
            right: 1px;
        }
    }
}
