@import '../Prefix.scss';

.#{$prefix}ChatBar-container {
    position: fixed;
    bottom: 0;
    left: 222px;
    left: 0;
    right: 0;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    z-index: 1;

    .chat {
        position: relative;
        border-left: 1px solid rgba(255, 255, 255, 0.1);

        &:last-child {
            border-right: 1px solid rgba(255, 255, 255, 0.1);
        }

        .button {
            line-height: 35px;
            padding: 0 10px;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
            min-width: 200px;

            &:hover {
                background-color: rgba(255, 255, 255, 0.04);
            }

            .title {
                color: #aaa;
                font-size: 14px;
                flex: 1;
            }

            .badge {
                background-color: rgba(0, 0, 0, 0.2);
                margin-right: 10px;
                padding: 0 8px;
                border-radius: 5px;
                height: 20px;
                line-height: 20px;
                font-size: 13px;
            }

            .online {
                width: 10px;
                height: 10px;
                border-radius: 5px;
                background-color: rgba(0, 0, 0, 0.1);
            }
        }

        .window {
            box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
            border: 1px solid #223;
            background-color: #000;
            width: 270px;
            height: 320px;
            bottom: 33px;
            position: absolute;
            left: -1px;
            display: flex;
        }
    }
}
